<div class="wrapper">
    <h1 style="color: #005B55; margin-top: 50px;">The story so far...</h1>
    <div class="wrapper-title">
        <p> Sed imperdiet tempus suscipit. Morbi sem turpis, rutrum in lectus et, laoreet rutrum est. Donec ut pretium nulla, quis mattis tortor. Suspendisse potenti. Donec at erat volutpat, aliquam tortor non, efficitur enim. Etiam dictum ultrices dui, nec scelerisque leo elementum ut. Nunc tempor nibh vel accumsan fermentum.

            Sed fermentum et felis consectetur egestas. Maecenas et hendrerit enim. Cras sed velit venenatis, rutrum metus quis, pretium nisl. Aliquam volutpat eleifend ipsum non malesuada. Etiam a velit id ipsum tincidunt mollis. Suspendisse faucibus dapibus fermentum. Praesent vel maximus orci. Duis imperdiet, orci a luctus aliquet, massa magna varius tellus, nec eleifend sapien lorem quis augue. In hac habitasse platea dictumst. Suspendisse sit amet nunc quis ligula euismod sollicitudin.
            
            Vestibulum diam nunc, imperdiet sed auctor interdum, sollicitudin id mauris. Suspendisse facilisis sem ac finibus auctor. Vestibulum laoreet pretium est at gravida. In nisi enim, luctus sit amet fringilla id, mollis sit amet tortor. Suspendisse convallis arcu eu rhoncus suscipit. Proin ultricies tristique lorem vitae tempor. Vestibulum eleifend erat enim, sed elementum sapien hendrerit vel. Aliquam mattis mi et mauris tincidunt, sed bibendum neque dictum. Duis sit amet justo volutpat, dignissim nisi et, aliquet eros. Morbi cursus neque eu fringilla dignissim. Quisque scelerisque ex at facilisis vehicula. </p>
    </div>
    <div class="divider"></div>
    <div class="wrapper-body">
        <div class="wrapper-title">
            <h1>Our Beers</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam rutrum nulla at odio scelerisque, eget commodo lacus cursus. Integer pretium justo a felis fermentum egestas. Nullam vulputate hendrerit egestas. Integer suscipit interdum cursus. Donec luctus vulputate eros, a tristique leo accumsan vel. Maecenas lobortis eget metus at cursus. Curabitur varius ante sed odio commodo, eget mollis massa luctus. Morbi diam purus, vestibulum at metus ac, rutrum tempus velit. Integer a aliquet lorem, sed tincidunt dui. Suspendisse nec ipsum felis. Fusce bibendum libero a lacus gravida aliquam.
      
              <br>
              <br>
              
              Vivamus finibus varius nisl, vitae eleifend mi porttitor quis. Nunc non velit metus. Praesent tempor venenatis libero, quis consequat nisl tempus quis. Nullam eu magna magna. Maecenas non magna mauris. Aenean non magna bibendum, finibus lectus a, pretium ante. Cras vel urna sed orci rutrum auctor.</p>
          </div>
    </div>